In [1]:
import numpy as np
import json
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import random
import matplotlib.ticker as ticker
from scipy.stats import norm

df =  pd.read_csv("test_data.csv")
df

,dlg_id,line_n,role,text
0,0,0,client,Алло
1,0,1,manager,Алло здравствуйте
2,0,2,client,Добрый день
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...
4,0,4,client,Ага
...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...
477,5,140,client,Спасибо спасибо
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте
479,5,142,manager,Ну до свидания хорошего вечера

### удаляяем все строки с репликами "client", т.к. нас интересует толькот то что сказал менеджер

In [3]:
drop_df = df.set_index('role')
drop_df.drop(['client'],axis = 0, inplace = True)
drop_df = drop_df.reset_index() 
drop_df

,role,dlg_id,line_n,text
0,manager,0,1,Алло здравствуйте
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...
3,manager,0,8,Угу а на что вы обращаете внимание при выборе
4,manager,0,11,Что для вас приоритет
...,...,...,...,...
196,manager,5,135,Так дмитрий
197,manager,5,136,Все записала тогда завтра ждите звонка
198,manager,5,138,По поводу виджетов и с ними уже обсудите конкр...
199,manager,5,139,Все я вам высылаю счет и с вами на связи если ...
200,manager,5,142,Ну до свидания хорошего вечера

### Извлекать реплики, где менеджер представил себя. 
В столбце "my nsme is:" показано представился manager или нет
"test_list" - это список выражений которые мог использовать manager в данной ситуации

In [4]:
# ft = []
# for i in range(len(drop_df)):
#     FT = 'меня зовут' in drop_df.iloc[i]['text'].lower()
#     ft.append(FT)
# drop_df["my nsme is:"] = ft
# drop_df

test_list =['меня зовут', 'мое имя']
ft = []
for i in range(len(drop_df)):
    test_string = drop_df.iloc[i]['text'].lower()
    res = [ele for ele in test_list if(ele in test_string)]
    T_or_F = str(bool(res))
    ft.append(T_or_F)
drop_df["my nsme is:"] = ft
drop_df

,role,dlg_id,line_n,text,my nsme is:
0,manager,0,1,Алло здравствуйте,False
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...,True
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...,False
3,manager,0,8,Угу а на что вы обращаете внимание при выборе,False
4,manager,0,11,Что для вас приоритет,False
...,...,...,...,...,...
196,manager,5,135,Так дмитрий,False
197,manager,5,136,Все записала тогда завтра ждите звонка,False
198,manager,5,138,По поводу виджетов и с ними уже обсудите конкр...,False
199,manager,5,139,Все я вам высылаю счет и с вами на связи если ...,False
200,manager,5,142,Ну до свидания хорошего вечера,False

### Извлекать реплики с приветствием – где менеджер поздоровался. 
В столбце "greetings" показано поздоровался ли manager или нет "greetings_list" - это список выражений которые мог использовать manager в данной ситуации

In [5]:
test_list =['здравствуйте', 'добрый день', 'приветствую вас', 'доброе утро', 'добрый вечер', 'привет', 'мое почтение', 'здрасте', 'здравствуй']
ft_greetings = []
for i in range(len(drop_df)):
    test_string = drop_df.iloc[i]['text'].lower()
    res = [ele for ele in test_list if(ele in test_string)]
    T_or_F = str(bool(res))
    ft_greetings.append(T_or_F)
drop_df["greetings"] = ft_greetings 
drop_df

,role,dlg_id,line_n,text,my nsme is:,greetings
0,manager,0,1,Алло здравствуйте,False,True
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...,True,False
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...,False,False
3,manager,0,8,Угу а на что вы обращаете внимание при выборе,False,False
4,manager,0,11,Что для вас приоритет,False,False
...,...,...,...,...,...,...
196,manager,5,135,Так дмитрий,False,False
197,manager,5,136,Все записала тогда завтра ждите звонка,False,False
198,manager,5,138,По поводу виджетов и с ними уже обсудите конкр...,False,False
199,manager,5,139,Все я вам высылаю счет и с вами на связи если ...,False,False
200,manager,5,142,Ну до свидания хорошего вечера,False,False

### Извлекать имя менеджера

In [6]:
# import nltk
# import pymorphy2

# prob_thresh = 0.4
# drop_df['name'] = drop_df.apply(lambda _: '', axis=1)
# for i in range(len(drop_df)):
#     test_string = drop_df.iloc[i]['text'].lower()
    
#     morph = pymorphy2.MorphAnalyzer()
#     for word in nltk.word_tokenize(test_string):
#         for p in morph.parse(word):
#             if 'Name' in p.tag and p.score >= prob_thresh:
#                 drop_df.at[i,'name'] = word
# drop_df      

import nltk
import pymorphy2

prob_thresh = 0.4
drop_df['name'] = drop_df.apply(lambda _: '', axis=1)
for i in range(len(drop_df)):
    test_string = drop_df.iloc[i]['text'].lower()
    
    morph = pymorphy2.MorphAnalyzer()
    for word in nltk.word_tokenize(test_string):
        for p in morph.parse(word):
            if 'Name' in p.tag and p.score >= prob_thresh:
                if drop_df.iloc[i]['line_n'] < 5:
                    drop_df.at[i,'name'] = word
drop_df

,role,dlg_id,line_n,text,my nsme is:,greetings,name
0,manager,0,1,Алло здравствуйте,False,True,
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...,True,False,ангелина
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...,False,False,
3,manager,0,8,Угу а на что вы обращаете внимание при выборе,False,False,
4,manager,0,11,Что для вас приоритет,False,False,
...,...,...,...,...,...,...,...
196,manager,5,135,Так дмитрий,False,False,
197,manager,5,136,Все записала тогда завтра ждите звонка,False,False,
198,manager,5,138,По поводу виджетов и с ними уже обсудите конкр...,False,False,
199,manager,5,139,Все я вам высылаю счет и с вами на связи если ...,False,False,
200,manager,5,142,Ну до свидания хорошего вечера,False,False,

### Извлекать реплики, где менеджер попрощался.

In [7]:
test_list_bye =['до свидания', 'хорошего вечера', 'давайте', 'до встречи', 'пока', 'бывай', 'будь здоров', 'будьте здоровы', 'до вечера', 'всех благ', 'целую', 'всего', 'успехов', 'всего хорошего', 'до завтра', 'всего доброго', 'до новых встреч', 'с наилучшими пожеланиями', 'будь', 'не болей', 'в добрый час', 'до свиданья', 'удачи', 'прощевайте', 'всего наилучшего',' до скорого', 'до скорой встречи', 'до связи', 'счастливо', 'увидимся', 'до скорого свидания']
ft_greetings = []
for i in range(len(drop_df)):
    test_string = drop_df.iloc[i]['text'].lower()
    res = [ele for ele in test_list_bye if(ele in test_string)]
    T_or_F = str(bool(res))
    ft_greetings.append(T_or_F)
drop_df["bye"] = ft_greetings 
drop_df

,role,dlg_id,line_n,text,my nsme is:,greetings,name,bye
0,manager,0,1,Алло здравствуйте,False,True,,False
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...,True,False,ангелина,False
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...,False,False,,False
3,manager,0,8,Угу а на что вы обращаете внимание при выборе,False,False,,False
4,manager,0,11,Что для вас приоритет,False,False,,False
...,...,...,...,...,...,...,...,...
196,manager,5,135,Так дмитрий,False,False,,False
197,manager,5,136,Все записала тогда завтра ждите звонка,False,False,,False
198,manager,5,138,По поводу виджетов и с ними уже обсудите конкр...,False,False,,False
199,manager,5,139,Все я вам высылаю счет и с вами на связи если ...,False,False,,False
200,manager,5,142,Ну до свидания хорошего вечера,False,False,,True

### Извлекать название компании.

In [8]:
drop_df['company'] = drop_df.apply(lambda _: '', axis=1)
for i in range(len(drop_df)):
    if 'компания' in drop_df.iloc[i]['text'].lower():
        index = drop_df.iloc[i]['text'].split().index("компания")
        drop_df.at[i,'company'] = drop_df.iloc[i]['text'].split()[index+1]
drop_df

,role,dlg_id,line_n,text,my nsme is:,greetings,name,bye,company
0,manager,0,1,Алло здравствуйте,False,True,,False,
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...,True,False,ангелина,False,диджитал
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...,False,False,,False,
3,manager,0,8,Угу а на что вы обращаете внимание при выборе,False,False,,False,
4,manager,0,11,Что для вас приоритет,False,False,,False,
...,...,...,...,...,...,...,...,...,...
196,manager,5,135,Так дмитрий,False,False,,False,
197,manager,5,136,Все записала тогда завтра ждите звонка,False,False,,False,
198,manager,5,138,По поводу виджетов и с ними уже обсудите конкр...,False,False,,False,
199,manager,5,139,Все я вам высылаю счет и с вами на связи если ...,False,False,,False,
200,manager,5,142,Ну до свидания хорошего вечера,False,False,,True,

In [9]:
requirement = drop_df.loc[drop_df['dlg_id'] == 0]
requirement

,role,dlg_id,line_n,text,my nsme is:,greetings,name,bye,company
0,manager,0,1,Алло здравствуйте,False,True,,False,
1,manager,0,3,Меня зовут ангелина компания диджитал бизнес з...,True,False,ангелина,False,диджитал
2,manager,0,5,Угу ну возможно вы рассмотрите и другие вариан...,False,False,,False,
3,manager,0,8,Угу а на что вы обращаете внимание при выборе,False,False,,False,
4,manager,0,11,Что для вас приоритет,False,False,,False,
5,manager,0,15,Ну у вас срок заканчивается поэтому мы набрали...,False,False,,False,
6,manager,0,29,А так нет не только поэтому просто я обратила ...,False,False,,False,
7,manager,0,34,А если вы 19 являетесь то лучше то идти бесплатно,False,False,,False,
8,manager,0,36,Ага хорошо,False,False,,False,
9,manager,0,45,Индивидуальным поэтому не все то есть сотрудни...,False,False,,False,
10,manager,0,62,Да мы услышали вас спасибо за рекомендации,False,False,,False,
11,manager,0,77,Вот понимаю да но дело в том что в основном да...,False,False,,False,
12,manager,0,92,Необходимо обзванивать,False,False,,False,
13,manager,0,94,Хорошо я данную информацию тогда зафиксирую пе...,False,False,,False,
14,manager,0,106,И вам спасибо большое за обратную связь,False,False,,False,
15,manager,0,108,Всего хорошего до свидания,False,False,,True,

In [10]:
' '.join(requirement['text'].tolist())

'Алло здравствуйте Меня зовут ангелина компания диджитал бизнес звоним вам по поводу продления лицензии а мы с серым у вас скоро срок заканчивается Угу ну возможно вы рассмотрите и другие варианты видите это хорошая практика сравнивать Угу а на что вы обращаете внимание при выборе Что для вас приоритет Ну у вас срок заканчивается поэтому мы набрали + ко всему А так нет не только поэтому просто я обратила внимание и вы пользуетесь виджетами мы там с вами сотрудничали А если вы 19 являетесь то лучше то идти бесплатно Ага хорошо Индивидуальным поэтому не все то есть сотрудничают с кем то сейчас да кому то например не с кем сейчас справляться кто то сравнивал Да мы услышали вас спасибо за рекомендации Вот понимаю да но дело в том что в основном да за месяц Необходимо обзванивать Хорошо я данную информацию тогда зафиксирую передам будем иметь ввиду И вам спасибо большое за обратную связь Всего хорошего до свидания'

In [11]:
test_list =['здравствуйте', 'добрый день', 'приветствую вас', 'доброе утро', 'добрый вечер', 'привет', 'мое почтение', 'здрасте', 'здравствуй']
test_list_bye =['до свидания', 'хорошего вечера', 'давайте', 'до встречи', 'пока', 'бывай', 'будь здоров', 'будьте здоровы', 'до вечера', 'всех благ', 'целую', 'всего', 'успехов', 'всего хорошего', 'до завтра', 'всего доброго', 'до новых встреч', 'с наилучшими пожеланиями', 'будь', 'не болей', 'в добрый час', 'до свиданья', 'удачи', 'прощевайте', 'всего наилучшего',' до скорого', 'до скорой встречи', 'до связи', 'счастливо', 'увидимся', 'до скорого свидания']


for i in range(drop_df['dlg_id'].max()+1):
    requirement = drop_df.loc[drop_df['dlg_id'] == 0]
    test_string = ' '.join(requirement['text'].tolist())

    res = [ele for ele in test_list if(ele in test_string)]
    T_or_F = str(bool(res))

    if T_or_F == 'True':
        print('Диалог № %s: Manager поздоровался' %i)
    else:print('Диалог № %s: Manager не поздоровался' %i)

    res = [ele for ele in test_list_bye if(ele in test_string)]
    T_or_F = str(bool(res))
    type(T_or_F)
    if T_or_F == 'True':
        print('Диалог № %s: Manager попрощался' %i)
    else: print('Диалог № %s: Manager не попрощался' %i)

Диалог № 0: Manager поздоровался
Диалог № 0: Manager попрощался
Диалог № 1: Manager поздоровался
Диалог № 1: Manager попрощался
Диалог № 2: Manager поздоровался
Диалог № 2: Manager попрощался
Диалог № 3: Manager поздоровался
Диалог № 3: Manager попрощался
Диалог № 4: Manager поздоровался
Диалог № 4: Manager попрощался
Диалог № 5: Manager поздоровался
Диалог № 5: Manager попрощался